<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">

    <%= link_to "Kingswood Shop", root_path, id: "logo", :class => "pull-left" %>


    <%= form_tag search_path, :method => 'get', :class => "navbar-form navbar-left", :id => "custom-search-input" do %>
        <div class="input-group col-md-12">
          <%= text_field_tag :search, params[:search], :class => "search-query form-control", :placeholder => "Search Product Name" %>
          <span class="input-group-btn">
            <%= submit_tag "Search", :name => nil, :class => "btn btn-default" do %>
                <span class=" glyphicon glyphicon-search"></span>
            <% end %>
          </span>
        </div>
    <% end %>

    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "Products", root_path %></li>
      <li><%= link_to "My Cart", cart_path %></li>
      <li><%= link_to "Online Help", help_path %></li>
      <li><%= link_to "Login as Admin", admin_path %></li>
    </ul>

  </div>
</header>