<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Kingswood Shop", '#', id: "logo" %>

    <%= form_tag search_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>

    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "My Cart", cart_path %></li>
        <li><%= link_to "Online Help", help_path %></li>
        <li><%= link_to "Login as Admin", admin_path %></li>
      </ul>
    </nav>

  </div>
</header>